<%= form_with model: task, local: true do |f| %>
  <div class="form-control">
      <%= f.label :name, "タスク名" %>
      <%= f.text_field :name %>
  </div>

  <div class="form-control">
    <%= f.label :content, "内容" %>
    <%= f.text_field :content %>
  </div>

  <div class="form-control">
    <%= f.label :status, "ステータス" %>
    <%= f.select(:status, Task.statuses.keys.map {|k| [Task.statuses_i18n[k], k]}) %>
  </div>

  <div class="form-control">
    <%= f.label :deadline, "〆切" %>
    <%= f.date_field :deadline, value: Date.current %>
  </div>

  <%= f.submit "追加・更新" %>
<% end %>
<%= link_to "タスク一覧へ", tasks_path %>