<%= link_to "新しいタスクを登録する", new_task_path, class: 'btn btn-info' %>
<%= @tasks.each do |task| %>
  <p><%= link_to task.id, task %></p>
  <p>タスク名: <%= task.name %></p>
  <p>内容: <%= task.content %></p>
  <p>ステータス: <%= task.status_i18n %></p>
  <p>〆切: <%= task.deadline.strftime("%m月%d日") %></p>
<% end %>